<form method="POST" action="/vehicles">
  <ul>
    <li>
      <label for="vehicle-make">Make</label>
      <input id="vehicle-make" type="text" name="make" />
    </li>
    <li>
      <label for="vehicle-model">Model</label>
      <input id="vehicle-model" type="text" name="model" />
    </li>
    <li>
      <label for="vehicle-color">Color</label>
      <input id="vehicle-color" type="text" name="color" />
    </li>
    <li>
      <input type="submit" />
    </li>
  </ul>
</form>