*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  color: #999999;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

#main-header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
  border-radius: 30%;
  opacity: 80%;
}

.centered {
  text-align: center;
}

#random-planeteer{
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgba(220, 0, 0, 1);
   background-image: linear-gradient(to top left,
                                     rgba(0, 0, 0, .2),
                                     rgba(0, 0, 0, .2) 30%,
                                     rgba(0, 0, 0, 0));
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
               inset -2px -2px 3px rgba(0, 0, 0, .6);
}

input[type='checkbox']{
  text-align: center;
}

.search {
  width: 50%;
  text-align: center;

  position: relative;
  display: block;
  margin: auto;
  padding: 2rem;
}

.searchTerm {
  text-align: center;
  width: 100%;
  border: 3px solid #990033;
  padding: 5px;
  height: 3rem;
  border-radius: 5px;
  outline: none;
  font-size: 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  color: #696969;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  width: 25%;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
}

.card__image:hover{
  filter: contrast(100%);
}


.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text, .card__detail p {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card__detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card__detail p {
  text-align: center;
}

.card__detail button{
  text-align: center;
}

@media(max-width: 700px){
  .cards__item{
    width: 50%;
  }
}
